body {
  font-family: Verdana, sans-serif;
  color: white;
  background-image: url(../images/lolback-slides.avif);
  background-size: cover;
}

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}
.bannerImg {
  height: 30dvb;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

nav {
  background-color: rgba(0, 0, 0, 0.529);
  padding: 5px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0px;
  font-style: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.padding {
  padding: 10px;
}
nav a:hover,
nav i:hover {
  color: #92dce5ff;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.sparator-logo {
  padding-left: 40px;
  padding-right: 80px;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
}
.dropbtn:hover{
  color: #92dce5ff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(2, 0, 20, 0.591);
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom: 4px solid #fec601ff;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 5px 2px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #92dce5ff;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.video-teste {
  display: flex;
  justify-content: center;
}
