/* Coolors Exported Palette - https://coolors.co/92dce5-eaba6b-1b5299-9590a8-6b6054 */

/* CSS HEX */
--non-photo-blue: #92dce5ff;
--earth-yellow: #eaba6bff;
--yinmn-blue: #1b5299ff;
--cool-gray: #9590a8ff;
--walnut-brown: #6b6054ff;

/* CSS HSL */
--non-photo-blue: hsla(187, 61%, 74%, 1);
--earth-yellow: hsla(37, 75%, 67%, 1);
--yinmn-blue: hsla(214, 70%, 35%, 1);
--cool-gray: hsla(253, 12%, 61%, 1);
--walnut-brown: hsla(31, 12%, 37%, 1);

/* SCSS HEX */
$non-photo-blue: #92dce5ff;
$earth-yellow: #eaba6bff;
$yinmn-blue: #1b5299ff;
$cool-gray: #9590a8ff;
$walnut-brown: #6b6054ff;

/* SCSS HSL */
$non-photo-blue: hsla(187, 61%, 74%, 1);
$earth-yellow: hsla(37, 75%, 67%, 1);
$yinmn-blue: hsla(214, 70%, 35%, 1);
$cool-gray: hsla(253, 12%, 61%, 1);
$walnut-brown: hsla(31, 12%, 37%, 1);

/* SCSS RGB */
$non-photo-blue: rgba(146, 220, 229, 1);
$earth-yellow: rgba(234, 186, 107, 1);
$yinmn-blue: rgba(27, 82, 153, 1);
$cool-gray: rgba(149, 144, 168, 1);
$walnut-brown: rgba(107, 96, 84, 1);


/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #92dce5ff, #eaba6bff, #1b5299ff, #9590a8ff, #6b6054ff);
$gradient-right: linear-gradient(90deg, #92dce5ff, #eaba6bff, #1b5299ff, #9590a8ff, #6b6054ff);
$gradient-bottom: linear-gradient(180deg, #92dce5ff, #eaba6bff, #1b5299ff, #9590a8ff, #6b6054ff);
$gradient-left: linear-gradient(270deg, #92dce5ff, #eaba6bff, #1b5299ff, #9590a8ff, #6b6054ff);
$gradient-top-right: linear-gradient(45deg, #92dce5ff, #eaba6bff, #1b5299ff, #9590a8ff, #6b6054ff);
$gradient-bottom-right: linear-gradient(135deg, #92dce5ff, #eaba6bff, #1b5299ff, #9590a8ff, #6b6054ff);
$gradient-top-left: linear-gradient(225deg, #92dce5ff, #eaba6bff, #1b5299ff, #9590a8ff, #6b6054ff);
$gradient-bottom-left: linear-gradient(315deg, #92dce5ff, #eaba6bff, #1b5299ff, #9590a8ff, #6b6054ff);
$gradient-radial: radial-gradient(#92dce5ff, #eaba6bff, #1b5299ff, #9590a8ff, #6b6054ff);